rules_version = '2';
service firebase.storage {

	function isAuthenticated() {
  	return request.auth != null;
  }

  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if isAuthenticated();
    }
  }
}
