ion-grid {
    padding: 0;
    padding-top: 5px;
}

.tBody {
    min-height: 52px;
}

.tBody:nth-child(even) {
    background-color: var(--ion-background-color, #fff);
}

.tBody:hover {
    background-color: var(--ion-color-light);
}

.tCell {
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-button {
    height: 40px !important;
    width: 40px !important;
}
