<ion-card>
  <ion-card-header v-if="isAuthenticated">
    <ion-buttons>
      <ion-button size="small" @click="editEntry(id)">
        <ion-icon :icon="pencil" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button size="small" @click="deleteEntry(id)">
        <ion-icon :icon="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-card-header>
  <ion-card-content>
    <ion-img v-if="imgUrl" :src="imgUrl"></ion-img>
    <ion-card-title>{{ title }}</ion-card-title>
    <ion-text>{{ text }}</ion-text>
  </ion-card-content>
</ion-card>
